@import url("https://fonts.googleapis.com/css2?family=Fascinate&family=Roboto:wght@300&display=swap");

:root {
  --gold: #f4bd76;
  --gold2: #f6cd8f;
  --gray: #ffffff80;
  --gray2: #f7d9d990;
  --black1: #1a1b1f;
  --black2: #305538;
  --shadow: 0 8px 8px;
  --color_shadow: #00000033;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 900%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 100px 0;
  height: auto;
}

.container--modifier {
  width: 60%;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, #30353b 0%, #1a1b1f 100%);
}

.nav_hero {
  color: #fff;
  height: 70px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.1);
}

.nav_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  padding: 0;
}

.logo_name{
  
}